# Base de datos
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=restaurante_pedidos_db

# JWT
JWT_SECRET=tu_secreto_super_seguro_cambiar_en_produccion_123456
JWT_EXPIRATION=24h

# API
PORT=4000
NODE_ENV=development

# CORS
FRONTEND_URL=http://localhost:5173

# Identificador del Restaurante (Debe ser un UUID válido existente en tu tabla restaurante)
RESTAURANTE_ID=a1b2c3d4-e5f6-7890-abcd-ef0123456789

# Pasarela de pagos
WOMPI_API_KEY=tu_api_key_wompi
WOMPI_PUBLIC_KEY=tu_public_key_wompi